.text-primary{
    color: purple!important;
}
header i{
    color: orangered;
}

header i:hover{
    color: rgb(144, 144, 207);
}

/* background color */
nav{
    background: linear-gradient(45deg, #800080, #800080de);
}

nav ul.navbar-nav li:hover{
    background: blue;
    size:5px;
}



nav.navbar{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

nav a, a.navbar-brand{
    padding-top: 30px!important;
    padding-bottom: 30px!important;
    font-size: 24px;
}

    /* Carousel */
.main-slider img{
    max-height: 60vh!important;
}

/* ptogram styling */
.program{
    margin-bottom: 120px;
    margin-top: 120px;
}

.program .card img{
    height: 300px;
    opacity: .8;
}

.program .card:hover img{
    opacity: 1;
}

.program .card:hover .card-body{
    color: white;
    
    background: linear-gradient(to left, #02c3999c, #00cc4e99);
}

.program .card{
    margin-top: 32px;
    margin-bottom: 32px;
}